*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    font-weight: 400;
    color: #29354F;
    background: white;
    border-bottom: 1px solid;
    border-color: #29354F;
    font-size: 1.1em;
}

header {
    background: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list .login {
    margin-right: 5em;
}

.nav-list .recherche {
    margin-left: 5em;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.9em;
    height: 110px;
}

.nav-list a {
    text-decoration: none;
    color: #29354F;
}

nav .material-symbols-outlined {
    font-size: 2em;
}



.nav-list img {
    max-height: 10vh;
    min-width: 5vw;

}

.bandeau-bleu {
    background-color: #29354F;
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bandeau-bleu h1 {
    font-size: 4rem;
    color: white
}

.btn {
    padding: 2px 0px;
    color: #fff;
    border: 1px solid #CC9872;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
}

.btn:hover {
    background-color: #CC9872;
    border: 1px solid #29354F;
    color: #ffffff;
}

.bandeau-bleu a {
    font-size: 1rem;
    color: white
}



.bandeau-bleu img {
    position: absolute;
    margin-right: 850px;
    margin-bottom: 30px;
    width: 150px;
}

.all {
    display: flex;
    flex-direction: row;
}

.men img{
    width: 150px;
    position: absolute;
    margin-left: 530px;
    margin-top: 253px;
}

.girl img{
    width: 240px;
    position: absolute;
    margin-left: 1235px;
    margin-top: 295px;
}

.container-main {
    gap: 50px;
    max-width: 100%;
    width: 30%;
    height: 550px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    background-color: #D9D9D9;
    box-shadow: -20px 20px 0px #29354F;
    border-radius: 5px;
    z-index: 2;
}

.container-main h2 {
    display: flex;
    justify-content: center;
}

.contact-form {
   margin-top: 15%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.lien {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20%;
    margin-right: 16%;
}

.lien a{
    color: #29354F;
}

.form-group label {
    display: block;
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    width: 300px;
    padding: 10px;
    background-color: #ececec;
    border-radius: 4px;
    border: 1px;
}


button {
    padding: 10px 0px;
    background-color: #29354F;
    color: #fff;
    border: 1px solid #29354F;
    margin-left: 54%;
    margin-top: 5%;
    width: 130px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #D9D9D9;
    border: 1px solid #29354F;
    color: #29354F;
}



/*FOOTER*/
/*----------------------------------------------------------------------------------------------*/

footer {
    background-color: #29354F;
    color: white;
    padding: 10px 0;
    margin-top: 5%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2%;
    height: 100%;
}

.footer-reseau {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.footer-information a {
    width: 250px;
    text-decoration: none;
    color: white;
}

.footer-pages a {
    text-decoration: none;
    color: white;
    width: 150px;
}

.footer-reseau a {
    text-decoration: none;
    color: white;
}

.footer-information h5 {
    color: white;
    margin-bottom: 20px;
}

.footer-pages h5 {
    color: white;
    margin-bottom: 20px;
}

.footer-reseau h5 {
    color: white;
    margin-bottom: 20px;
}

.footer-pages ul {
    column-count: 2;
    column-gap: 2px;
}

.footer-information ul li a {
    margin-bottom: 20px;
    display: block;
    padding: 0;
}

.footer-pages ul li a {
    margin-bottom: 20px;
    display: block;
    padding: 0;
}

.footer-reseau ul li a {
    margin-bottom: 20px;
    display: block;
    padding: 0;
}

.footer-information,
.footer-pages,
.footer-reseau,
.footer-logo {
    flex-basis: 5%;
    padding: 0 15px;
}

.footer-logo {
    margin-left: 6%;
}

.footer-logo img {
    width: 100%;
    width: 200px;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 54px;
    height: auto;
}









@media (max-width: 768px) {
    nav {
        display: none;
    }

    .bandeau-bleu {
        height: 40vh;
    }

    .bandeau-bleu h1 {
        font-size: 3rem;
    }

    .bandeau-bleu h2 {
        font-size: 1.5rem;
    }

    .all {
        display: flex;
        flex-direction: row;
    }
    
    .men img{
        display: none;
    }
    
    .girl img{
        display: none;
    }

    .bandeau-bleu img {
        display: none;
    }
    
    .container-main {
        gap: 50px;
        max-width: 100%;
        width: 80%;
        height: 550px;
        padding: 50px;
        margin-left: 60px;
        margin-right: auto;
        margin-top: 14%;
        background-color: #D9D9D9;
        box-shadow: -20px 20px 0px #29354F;
        border-radius: 5px;
        z-index: 2;
    }
    
    .container-main h2 {
        display: flex;
        justify-content: center;
    }
    
    .contact-form {
       margin-top: 15%;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    
    .lien {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 30%;
        margin-right: 2%;
    }
    
     
    
    button {
        padding: 10px 0px;
        background-color: #29354F;
        color: #fff;
        border: 1px solid #29354F;
        margin-left: -3%;
        margin-top: 25%;
        width: 300px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: white;
        border: 1px solid #29354F;
        color: #29354F;
    }
    

    footer {
        margin-top: 20%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-information,
    .footer-pages,
    .footer-logo,
    .footer-reseau {
        margin-bottom: 1rem;
        text-align: center;
    }

    .footer-reseau {
        margin-left: 10%;
    }

    .footer-pages ul {
        column-count: 1;
        column-gap: 2px;
    }

    .social-icons a {
        margin: 0 5px;
    }
}